.env

# machine-specific config files
.htaccess

# nano, emacs backups
*~

# macos
.DS_Store

# php composer
static/php/vendor
static/php/composer.lock

*.sql

# google search console verification

robots.txt

config/config.php
static/bash/logs/log