.env

# machine-specific config files
.htaccess

# nano, emacs backups
*~

# macos
.DS_Store

# php composer
utils/vendor
utils/composer.lock

*.sql

# google search console verification

robots.txt

config/config.json
static/bash/logs/log
